<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.collect">
	
	<insert id="insert" parameterType="com.db.Collect">
		INSERT INTO `collect`
        (`id`, `collector`, `msgId`, `name`, `time`, `delFlag`)
  		VALUES(#{id}, #{collector}, #{msgId}, #{name}, #{time}, #{delFlag})
	</insert>

	<select id="collector" parameterType="hashmap" resultType="com.db.Collect">
		SELECT * FROM collect WHERE collector=#{collector} AND msgId=#{msgId} AND delFlag=0
	</select>

	<update id="delCollect" parameterType="java.lang.Long">
		update collect set delFlag=1 where id=#{id}
	</update>

	<delete id="delete">
		delete from collect where delFlag=1
	</delete>
          
</mapper>
